<section class="flex flex-col items-center justify-center gap-6 w-full h-96 p-10">
  <h2 class="text-7xl text-balance font-medium [&>strong]:font-extrabold text-gray-900 dark:text-white">
    Coming <strong>Soon</strong>!
  </h2>
  <p class="text-xl font-medium text-gray-500 lg:text-xl dark:text-gray-400">
    We're working hard to finish the development of this site. ✨
  </p>
</section>