<section class="flex h-96 w-full flex-col items-center justify-center gap-6 p-10">
	<h2
		class="text-balance text-7xl font-medium text-gray-900 dark:text-white [&>strong]:font-extrabold"
	>
		Coming <strong>Soon</strong>!
	</h2>
	<p class="text-xl font-medium text-gray-500 dark:text-gray-400 lg:text-xl">
		We're working hard to finish the development of this site. ✨
	</p>
</section>
