---
import Benefits from "@/components/Benefits.astro"

const auth = Astro.props.auth
---

{
	!auth && (
		<section class="md:p-18 flex !h-full w-full flex-col items-center justify-center gap-5 p-6 pt-20 md:flex-row lg:p-20">
			<article class="grid justify-center gap-6 md:w-3/5">
				<h2 class="text-balance text-4xl font-medium text-gray-900 dark:text-white md:text-7xl [&>strong]:font-extrabold">
					You need to be <strong>registered</strong>!
				</h2>
				<p class="text-xl font-medium text-gray-500 dark:text-gray-400 lg:text-xl">
					Register with Github to enjoy some extra benefits of the page. ✨
				</p>
			</article>
			<article class="md:w-2/5">
				<Benefits />
			</article>
		</section>
	)
}
