---
import AboutBanner from "@/components/AboutBanner.astro"
import Benefits from "@/components/Benefits.astro"
import HeadLine from "@/components/HeadLine.astro"
import LinkForm from "@/components/LinkForm.astro"
import Layout from "@/layouts/Layout.astro"
import { Auth } from "@/lib/auth"

const auth = Auth.isSignedIn(Astro.cookies)
---

<Layout title="Welcome to linky.">
	<div class="absolute -z-10 h-full w-full bg-white dark:bg-slate-950">
		<div
			class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_110%)]"
		>
		</div>
	</div>
	<section class="h-full px-6">
		<div
			class="mx-auto flex h-80 max-w-4xl flex-col items-center justify-center pb-0 pt-10 text-center"
		>
			<HeadLine />
		</div>
		<div class="w-full pb-10">
			<LinkForm />
		</div>
	</section>
	{
		!auth && (
			<section class="flex justify-center p-6">
				<Benefits />
			</section>
		)
	}
	<section class="flex justify-center p-6">
		<AboutBanner />
	</section>
</Layout>
