---
import Layout from "@/layouts/Layout.astro"
import LinkForm from "@/components/LinkForm.astro"
import LinkCard from "@/components/LinkCard.tsx"

const new_link = Astro.url.searchParams.get('new_link')
const link = Astro.url.searchParams.get('link')
---

<Layout title="Shortener">
  <div class="pt-10 pb-6">
    <h1 class="text-4xl font-bold text-center text-gray-900 dark:text-white">
      Link shortener👌
    </h1>
    <p class="text-center text-lg font-semibold text-gray-500 dark:text-gray-400">
      Shorten your links
  </p>
  </div>
  <LinkForm />
  <section class="flex flex-col items-center gap-2 px-10 mx-auto py-5 w-full max-w-4xl">
    {
      new_link && link ? (
        <span class="text-lg font-semibold text-gray-900 dark:text-white">Here is your link✨</span>
        <LinkCard client:only new_link={new_link} />
      ) : (
        <div class="max-w-sm p-6 min-w-max text-gray-900 dark:text-white bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 text-lg font-medium">
          Your link appears here🔗
        </div>
      )
    }
  </section>
</Layout>

