---
import DarkToggle from '../components/DarkToggle.tsx'
---

<footer class="bg-white rounded-lg shadow dark:bg-gray-900 m-4 mt-12">
  <div class="w-full max-w-screen-xl mx-auto p-4 py-2 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-xs text-red-500">Developing!</span>
      <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
        <li class="mr-6">
          <DarkToggle client:only />
        </li>
        <li>
          <a href="https://github.com/LipezJ/linky" class="hover:underline me-4 md:me-6">
            GitHub
          </a>
        </li>
        <li>
            <a href="https://github.com/LipezJ/linky/blob/master/LICENSE" class="hover:underline me-4 md:me-6">
              Licensing
            </a>
        </li>
        <li>
            <a href="https://github.com/LipezJ/" class="hover:underline">
              Contact
            </a>
        </li>
      </ul>
    </div>
    <hr class="mb-2 mt-8 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">
      Made with a lemonade by <a href="https://lipez.studio/" class="hover:underline underline">LipezJ</a> 🍋
    </span>
  </div>
</footer>

