---
import NavBar from "./NavBar.astro"
---

<header class="shadow-md">
	<nav class="border-gray-200 bg-white px-4 py-2.5 dark:bg-gray-800 lg:px-6">
		<div class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between">
			<a href="/" class="flex items-center">
				<span class="text-3xl"> 🔗 </span>
				<span
					class="self-center whitespace-nowrap text-xl font-extrabold text-gray-900 dark:text-white"
				>
					Linky
				</span>
			</a>
			<NavBar />
		</div>
	</nav>
</header>
