<h1 class="mb-4 text-4xl font-extrabold text-balance leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
  We make sharing links easier and faster ✨
</h1>
<p class="mb-6 text-lg font-medium text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
  Here at Linky, we've perfected link-sharing simplicity. Shorten and share your links effortlessly with our platform.
</p>