---
import NavBar from "./NavBar.astro";
---

<header class="shadow-md">
  <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
      <a href="/" class="flex items-center">
        <span class="text-3xl">
          🔗
        </span>
        <span class="self-center text-xl font-extrabold whitespace-nowrap text-gray-900 dark:text-white">
          Linky
        </span>
      </a>
      <NavBar />
    </div>
  </nav>
</header>