---
import { Auth } from "@/lib/auth"

import UserMenu from "./UserMenu.astro"

const cookies = Astro.cookies
const auth = Auth.isSignedIn(cookies)
const userInfo = Auth.getUserInfo(cookies)
---

{
	auth ? (
		<>
			<button
				id="dropdownDefaultButton"
				data-dropdown-toggle="dropdown"
				class="flex items-center gap-1.5 rounded-md px-1.5 font-bold text-black hover:bg-gray-50 dark:text-white dark:hover:bg-slate-700"
				type="button"
			>
				{userInfo?.user_name ?? ""}
				{userInfo?.avatar_url ? (
					<img src={userInfo.avatar_url} class="size-10 rounded-full" alt="User avatar" />
				) : (
					<div class="relative size-10 overflow-hidden rounded-full bg-gray-100 dark:bg-gray-600">
						<svg
							class="absolute size-10 text-gray-400"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								fill-rule="evenodd"
								d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
								clip-rule="evenodd"
							/>
						</svg>
					</div>
				)}
				<svg
					class="h-2.5 w-2.5"
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 10 6"
				>
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="m1 1 4 4 4-4"
					/>
				</svg>
			</button>
			<UserMenu />
		</>
	) : (
		<>
			<a
				href="/signin"
				class="mr-2 rounded-lg px-4 py-2 text-sm font-medium text-gray-800 hover:bg-gray-50 focus:outline-none focus:ring-4 focus:ring-gray-300 dark:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-800 lg:px-5 lg:py-2.5"
			>
				Log in
			</a>
			<a
				href="/register"
				class="inline-flex w-fit items-center justify-center rounded-lg bg-blue-700 px-5 py-2 text-center text-base font-medium text-white hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
			>
				Sign up
			</a>
		</>
	)
}
